.card {
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
}

.card img {
    width: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.card p {
    margin: 0;
    padding: 1em;
    width: 100%;
}