* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    position: fixed;
}

body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    overscroll-behavior-y: none;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    background: #222;
}

#gl {
    position: relative;
    z-index: 0;
}
